@using Datingsite.Models
@using DAL
@using DAL.Repositories
@model Datingsite.Models.UserProfileModel.UserProfileModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/Registration.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<header>
    <div id="LogoText">
        O Partner,Where Art Thou?
    </div>
</header>
 

    <div id="Members">
            <a href="@Url.Action("ProfileStartForOtherUser", "UserProfile", new { userID = 1 }, null)"><div class="circularImage"><img src="data:image/png;base64,@System.Convert.ToBase64String(UserRepository.GetImage(1).Picture )" alt="" /></div></a>
            <a href="@Url.Action("ProfileStartForOtherUser", "UserProfile", new { userID = 5 }, null)"><div class="circularImage"><img src="data:image/png;base64,@System.Convert.ToBase64String(UserRepository.GetImage(5).Picture )" alt="" /></div></a>
            <a href="@Url.Action("ProfileStartForOtherUser", "UserProfile", new { userID = 2 }, null)"><div class="circularImage"><img src="data:image/png;base64,@System.Convert.ToBase64String(UserRepository.GetImage(2).Picture )" alt="" /></div></a>
        </div>

@RenderBody()

</body>

</html>
